{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<h3>Hello world!</h3>
<div class="divider"></div>
<div class="card-panel">
	<p class="">I am a novice programmer and enthusiastic learner, currently working in the data engineering field.</p>
	<p class="">I am interesting in learning programming and data science related stuff.</p>
	<p>Currently I am trying to develop a image classifier with deep learning.</p>
</div>

<img src="{% static 'img/feelsgoodman.png' %}" class="pepe circle responsive-img" style="width:420px;height:270px;"/>


{% endblock %}