{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<!-- img src="{% static 'img/frog.png' %}" alt="My image" style="width:355px;height:340px;"/-->

<!--
<h1>Image classifier home</h1>

  <p>Welcome to <em>Image Classifier</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The classifier database has the following record counts:</p>
  <ul>
    <li><strong>All images:</strong> {{ num_of_image }}</li>
    <li><strong>Special images:</strong> {{ girl_image }}</li>
  </ul>
-->

<h2>Welcome to my site.</h2>




<p>You have visited this page {{ num_visits }}{% if num_visits == 1%} time {% else %} times {% endif %}.</p>
{% endblock %}